
        .wrapper{
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 20px;

        }
        .h5{
            text-align: center;
        }
        .main{
            display: flex;
            flex-direction: row;
            background-color: greenyellow;
            padding: 20px;

        }
        .left-col{
            border: 2px solid blue;
            width: 100px;
            height: 250px;
            padding: 10%;
            flex-direction: column;
            justify-content: center;
            display: flex;
            align-items: center;
            box-shadow: 0 0  5px aqua;
        }
        strong {
            box-shadow: 2px 2px black;
        }
        .right-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10%;
        }
        .item{
            width: 40px;
            padding: 5px 15px 5px 15px;
            border: 1px dotted brown;
            margin: 3%;
            box-shadow: 0 0 5px black;
            background-color: rgb(199, 199, 6);
        }
        .item:hover {
            color:red;
            background-color: rgb(250, 250, 23);
        }